@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana,  Helvetica, Sans-Serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Idroid', cursive;

}

* {
    font-family: var(--fonte-padrao);
}


body {
    background-color: var(--cor0);
    margin: 0px;
    padding-bottom: 10px;
}

a.external::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(180deg, var(--cor3), var(--cor5));
    min-height: 150px;
}
header > h1{
    text-align: center;
    color: #EAF8F0;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    text-shadow: 3px 2px 7px rgb(0 0 0 / 36%);
    font-weight: normal;
}
header > p {
    text-align: center;
    color: #EAF8F0;
    font-size: 15px;
    padding: 0px 20px 29px 20px;
    font-family: var(--fonte-padrao);
    text-shadow: 3px 2px 7px rgb(0 0 0 / 36%);
    max-width: 500px;
    margin: auto;
}
#nav_header {
    background-color: var(--cor5);
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 36%);
    height: 29px;
}
#nav_header > a {
    text-decoration: none;
    color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    text-shadow: 3px 2px 7px rgb(0 0 0 / 36%);
}

#nav_header > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
    transition-duration: 0.5s;
    }
main {
    background-color: white;
    margin: auto;
    margin-top: 0px;
    box-shadow: 0px 1px 6px 2px rgb(0 0 0 / 36%);
    border-radius: 0px 0px 15px 15px;
    max-width: 800px;
    min-width: 100px;
    padding: 20px;
    }

main p {
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 2px 3.5px;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

article > h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 28px;
    font-weight: normal;
    font-size: 1.8em;
}

article > h2 {
    font-family: idroid;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}
article > p {
    text-align: justify;
    font-family: var(--fonte-padrao);
}
#nav_iframe {
    background-color: var(--cor5);
    position: relative;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;

}
#nav_iframe > iframe {
    position: absolute;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 90%;
}
#img_dandroids {
    width: 100%;
    margin: auto;
}
#irina {
    width: 100%;
    margin: auto;
}
#bugdroid {
    max-width: 350px;
    margin: auto;
    display: block;
}
#psn {
    padding-bottom: 8px;
}

aside {
    margin-top: 513px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    padding: 7px 7px;
    box-shadow: 5px 5px 7px 0px rgb(0 0 0 / 36%);
}
aside h3 {
    font-family: var(--fonte-padrao);
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -9px -7px 0px -7px;
    border-radius: 10px 10px 0px 0px;
}
#div_secundaria > p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 30px 0px 30px;
    padding-bottom: 15px;
}
#div_secundaria > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: #2FA866;
    font-weight: 400;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}
#pu {
    padding-bottom: 10px;
    font-family: var(--fonte-padrao);
}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}


ul a {
    color: black;
    font-family: var(--fonte-padrao);
}

#div_principal > p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 30px 0px 30px;
    padding: 0px 50px 15px 50px;
}
footer {
    background-color: #1A5C38;
    margin: 24px 0px -26px 0px;
}
footer > p {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
} 

footer > p > a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

#p_final {
    font-family: var(--fonte-padrao);
}

li.indice {
    margin: 10px;
    font-size: 20px;
}

#h1-indice {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 28px;
    font-weight: normal;
    font-size: 1.8em;
    margin-left: 10px;
}








input#input-text {
    width: 100%;
    height: 150px;
    outline: 0;
}

label {
    font-family: var(--fonte-padrao);
}

input#input-text:focus {
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 36%);
}

div#div-publica {
    background-color: var(--cor1);
    border: 1px solid var(--cor5);
    padding: 10px;
    width: 105px;
}

div#div-publica span {
    color: white;
    text-shadow: 1px 1px 1px #0000004a;
    letter-spacing: 1px;
}
div#mae-publica {
    display: none;
}

#publico:checked ~ div#mae-publica {
    display: inline-block;
}

